config.php
config.js
php_errors.log
*.log
*.sql
*.db
/vendor/
/node_modules/
.DS_Store
.env
.env.save
python-pwa-practice-zip-EXTRACTED-ARCHIVE/
schema-sql-EXTRACTED-ARCHIVE/
python-pwa-practice.zip
# Ignore database files
db/*.db
my_custom_error_log.txt
